.employee-nom-group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.employee-nom-group button {
  font-size: 12px;
}

.employee-nom-group th {
  font-size: 10px;
}

.employee-nom-group select {
  width: 280px;
  text-overflow: ellipsis;

  /* scrollbar-width: none; */
  scrollbar-color: red;
}

/* COMPARACIÓN DE PETICIONES */

.request-comparation-container {
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.request-comparation-container div {
  background-color: aqua;
  min-height: 200px;

  width: 100%;
}
