@import './animations.css';

:root {
  --modal-height: calc(100% + 61px);
  --bluegray: #3f4d67;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
table {
  border-collapse: collapse;
}
table,
th,
td {
  padding: 5px;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal-window {
  padding: 1rem;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--modal-height);
  position: absolute;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.5);

  visibility: visible;
  opacity: 1;

  transition: opacity 2s ease;
}
.modal-window.hide {
  visibility: hidden;
  opacity: 0;
  height: 0;
}

.form-control.input-error {
  border: 1px solid rgb(255, 93, 93);
  opacity: 0.8;
}

.input-error-message {
  position: relative;
  top: 8px;
  background-color: #c74747;
  color: white;
  padding: 0.4rem 0.8rem;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: rgb(255, 149, 149);
  opacity: 0.8;
}

/* TABULATOR STYLES */
.tabulator-primary-form {
  max-width: 800px;
  display: flex;
  align-items: center;
}

.tabulator-secundary-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: space-between;
  padding: 1rem;
  height: 90%;
  background-color: white;
}
.tabulator-secundary-form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.tabulator-matrix {
  width: 100%;
  gap: 6px;
  overflow: auto;
  /* background-color: rgb(255, 225, 225); */
}

/* GRADO 3 FILAS */
/* PASO 2 COLUMNAS */

.tabulator-matrix .tabulator-matrix-row {
  display: flex;
  gap: 6px;
  /* grid-template-columns: repeat(auto-fit, minmax(40px, 100px)); */
}

.tabulator-matrix-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 100%;
  font-size: 12px;
}

.tabulator-matrix-cell .tabulator-matrix-span {
  background-color: var(--bluegray);
  color: rgb(255, 242, 128);
}

.tabulator-matrix-cell-input {
  width: 100%;
}
.tabulator-matrix-cell-input::placeholder {
  font-size: 10px;
  text-align: center;
}
