@import './animations.css';

:root {
  --modal-height: calc(100vh - 74px);
  --bluegray: #3f4d67;
  --light-bluegray: #3f4d67ab;
  --lightgray: #f4f7fa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
table {
  border-collapse: collapse;
}
table,
th,
td {
  text-align: center !important;
  padding: 5px;
}
tr {
  transition: background 0.1s ease !important;
}
tr:hover {
  background-color: #c3d1eb !important;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a {
  display: inline-flex !important;
  border-radius: 10px !important;
}

.modal-window {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: auto;
  top: 74px;
  left: 0;
  width: 100%;

  height: var(--modal-height);
  position: fixed;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.5);

  visibility: visible;
  opacity: 1;

  transition: opacity 0.5s ease;
}
.modal-window.hide {
  visibility: hidden;
  opacity: 0;
  height: 0;
}

.modal-box {
  background-color: var(--lightgray);
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  height: 90%;
  background-color: white;
}

.modal-box.short {
  height: fit-content;
}

.modal-box-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  width: 100%;
}

/* FORM STYLES */
.form-input,
.form-select {
  border-left: 2px solid var(--light-bluegray);
  border-right: 2px solid var(--light-bluegray);
}

.form-input::placeholder {
  color: #3f4d67a6;
}
.form-control.input-error {
  border: 1px solid rgb(255, 93, 93);
  border-left: 2px solid rgb(255, 93, 93);
  border-right: 2px solid rgb(255, 93, 93);
  opacity: 0.8;
}

.form-container {
  max-width: 800px;
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  padding: 2rem 0;
  border-radius: 1rem;
  /* background-color: white; */
}

.form-header {
  max-width: 800px;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  padding: 1em 0;
  border-radius: 1rem;
  margin-bottom: 1rem;
  border-top: 2px solid var(--light-bluegray);
}

.form-container {
  border-bottom: 2px solid var(--light-bluegray);
}

.input-error-message {
  position: relative;
  top: 8px;
  background-color: #c74747;
  color: white;
  padding: 0.2rem 0.8rem;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: rgb(255, 149, 149);
  opacity: 0.8;
}

.btn-form {
  margin: 1rem auto;
  max-width: 200px;
}

/* TABULATOR STYLES */

.tabulator-matrix {
  margin: auto;
  width: 100%;
  gap: 6px;
  overflow: auto;
  /* background-color: rgb(255, 225, 225); */
}

/* GRADO 3 FILAS */
/* PASO 2 COLUMNAS */

.tabulator-matrix .tabulator-matrix-row {
  display: flex;
  gap: 6px;
  /* grid-template-columns: repeat(auto-fit, minmax(40px, 100px)); */
}

.tabulator-matrix-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 100%;
  font-size: 12px;
}

.tabulator-matrix-cell .tabulator-matrix-span {
  background-color: var(--bluegray);
  color: rgb(255, 242, 128);
}

.tabulator-matrix-cell-input {
  width: 100%;
}
.tabulator-matrix-cell-input::placeholder {
  font-size: 10px;
  text-align: center;
}
