.employee-nom-group {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

  gap: 1rem;
  flex-wrap: wrap;
}

.employee-nom-group button {
  font-size: 12px;
}

.employee-nom-group select {
  width: 100%;
  text-overflow: ellipsis;

  /* scrollbar-width: none; */
}

.request-step-container {
}

.request-step {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

  gap: 1rem;
}

.request-table-container {
  width: 100%;
  padding: 1rem;

  gap: 1rem;
  min-height: 300px;
}

/* COMPARACIÓN DE PETICIONES */

.request-comparation-container {
  width: 100%;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  min-height: 300px;
}

.request-list-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  align-items: start;
  justify-items: center;
}
.request-list-container table {
  max-width: 420px;
}

.request-list-container table td {
  padding: 0.4rem;
}
